/**
 * Pterodactyl - Panel
 * Copyright (c) 2015 - 2017 Dane Everitt <dane@daneeveritt.com>
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
@import 'checkbox.css';

.login-page {
    background: #10529f;
}

#login-position-elements {
    margin: 25% auto;
}

.login-logo {
    color: #fff;
    font-weight: 400;
}

.login-copyright {
    color: rgba(255, 255, 255, 0.3);
}

.login-copyright > a {
    color: rgba(255, 255, 255, 0.6);
}

.particles-js-canvas-el {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

.pterodactyl-login-box {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 20px;
}

.pterodactyl-login-input > input {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
    border-radius: 2px;
    color: #fff;
}

.pterodactyl-login-input > .form-control-feedback {
    color: #fff;
}

.pterodactyl-login-button--main {
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #000;
    border-radius: 2px;
    color: #fff;
}

.pterodactyl-login-button--main:hover {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000;
    border-radius: 2px;
    color: #fff;
}

.pterodactyl-login-button--left {
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
}

.pterodactyl-login-button--left:hover {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    color: #fff;
}

.weight-100 {
    font-weight: 100;
}

.weight-300 {
    font-weight: 300;
}

.btn-clear {
    background: transparent;
}

.user-panel > .info {
    position: relative;
    left: 0;
}

code {
    background-color: #eef1f6;
    color: #596981;
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 1.4;
    font-size: 85%;
    border: 1px solid rgba(0, 0, 0, .1);
    display: inline-block;
}

p {
    line-height: 1.6 !important;
}

p.small {
    margin-top: 3px !important;
}

.control-sidebar-dark .control-sidebar-menu > li > a.active {
    background: #1e282c;
}

.callout-nomargin {
    margin: 0;
}

.table {
    font-size: 14px !important;
}

.table .min-size {
    width: 1px;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .box-header > .box-tools {
        position: relative !important;
        padding: 0px 10px 10px;
    }
}

.middle, .align-middle {
    vertical-align: middle !important;
}

#fileOptionMenu.dropdown-menu > li > a {
    padding: 3px 6px;
}

.hasFileHover {
    border: 2px dashed #0087F7;
    border-top: 0 !important;
    border-radius: 5px;
    margin: 0;
    opacity: 0.5;
}

.hasFileHover * {
    pointer-events: none !important;
}

td.has-progress {
    padding: 0px !important;
    border-top: 0px !important;
}

.progress.progress-table-bottom {
    margin: 0 !important;
    height: 5px !important;
    padding: 0;
    border: 0;
}

.muted {
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.muted-hover:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.use-pointer {
    cursor: pointer !important;
}

.input-loader {
    display: none;
    position: relative;
    top: -25px;
    float: right;
    right: 5px;
    color: #cccccc;
    height: 0;
}

.box-header > .form-group {
    margin-bottom: 0;
}

.box-header > .form-group > div > p.small {
    margin: 0;
}

.no-margin {
    margin: 0 !important;
}

li.select2-results__option--highlighted[aria-selected="false"] > .user-block > .username > a {
    color: #fff;
}

li.select2-results__option--highlighted[aria-selected="false"] > .user-block > .description {
    color: #eee;
}

.select2-selection.select2-selection--multiple {
    min-height: 36px !important;
}

.select2-search--inline .select2-search__field:focus {
    outline: none;
    border: 0 !important;
}

.img-bordered-xs {
    border: 1px solid #d2d6de;
    padding: 1px;
}

span[aria-labelledby="select2-pUserId-container"] {
    padding-left: 2px !important;
}

.box {
    box-shadow: 0 0 0 1px rgba(89, 105, 128, .1), 0 1px 3px 0 rgba(89, 105, 128, .1), 0 1px 2px 0 rgba(0, 0, 0, .05) !important;
}

.alert-danger {
    color: #ffffff !important;
    background: #d64242 !important;
    border: 1px solid #841d1d;
}

.alert-info {
    color: #ffffff !important;
    background: #408fec !important;
    border: 1px solid #1055a5;
}

.alert-success {
    color: #ffffff !important;
    background: #51b060 !important;
    border: 1px solid #2b5f33;
}

.alert-warning {
    color: #ffffff !important;
    background: #fa9636 !important;
    border: 1px solid #b45b05;
}

.callout-slim a {
    color: #555 !important;
}

.bg-purple {
    background-color: #79589f !important;
}

.label-default {
    background-color: #eef1f6 !important;
}

.callout.callout-info.callout-slim {
    border: 1px solid #1055a5 !important;
    border-left: 5px solid #1055a5 !important;
    border-right: 5px solid #1055a5 !important;
    color: #777 !important;
    background: transparent !important;
}

.callout.callout-danger.callout-slim {
    border: 1px solid #c23321 !important;
    border-left: 5px solid #c23321 !important;
    border-right: 5px solid #c23321 !important;
    color: #777 !important;
    background: transparent !important;
}

.callout.callout-warning.callout-slim {
    border: 1px solid #c87f0a !important;
    border-left: 5px solid #c87f0a !important;
    border-right: 5px solid #c87f0a !important;
    color: #777 !important;
    background: transparent !important;
}

.callout.callout-success.callout-slim {
    border: 1px solid #00733e !important;
    border-left: 5px solid #00733e !important;
    border-right: 5px solid #00733e !important;
    color: #777 !important;
    background: transparent !important;
}

.callout.callout-default.callout-slim {
    border: 1px solid #eee !important;
    border-left: 5px solid #eee !important;
    border-right: 5px solid #eee !important;
    color: #777 !important;
    background: transparent !important;
}

.tab-pane .box-footer {
    margin: 0 -10px -10px;
}

.select2-container {
    width: 100% !important;
}

.nav-tabs-custom > .nav-tabs > li:hover {
    border-top-color: #3c8dbc;
}

.nav-tabs-custom > .nav-tabs > li.active.tab-danger, .nav-tabs-custom > .nav-tabs > li.tab-danger:hover {
    border-top-color: #c23321;
}

.nav-tabs-custom > .nav-tabs > li.active.tab-success, .nav-tabs-custom > .nav-tabs > li.tab-success:hover {
    border-top-color: #00733e;
}

.nav-tabs-custom > .nav-tabs > li.active.tab-info, .nav-tabs-custom > .nav-tabs > li.tab-info:hover {
    border-top-color: #0097bc;
}

.nav-tabs-custom > .nav-tabs > li.active.tab-warning, .nav-tabs-custom > .nav-tabs > li.tab-warning:hover {
    border-top-color: #c87f0a;
}

.nav-tabs-custom.nav-tabs-floating > .nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs-custom.nav-tabs-floating > .nav-tabs > li {
    margin-bottom: 0px !important;
}

.nav-tabs-custom.nav-tabs-floating > .nav-tabs > li:first-child.active,
.nav-tabs-custom.nav-tabs-floating > .nav-tabs > li:first-child:hover {
    border-radius: 3px 0 0 0;
}

.nav-tabs-custom.nav-tabs-floating > .nav-tabs > li:first-child.active > a {
    border-radius: 0 0 0 3px;
}

.position-relative {
    position: relative;
}

.no-pad-bottom {
    padding-bottom: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.btn-icon > i.fa {
    line-height: 1.5;
}

.btn.active, .btn.active.focus {
    background-color: #408fec;
}

.strong {
    font-weight: bold !important;
}

.server-description > td {
    padding-top: 0 !important;
    border-top: 0 !important;
}

tr:hover + tr.server-description {
    background-color: #f5f5f5 !important;
}

.login-corner-info {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: white;
}

input.form-autocomplete-stop[readonly] {
    background: inherit;
    cursor: text;
}

/* fix Google Recaptcha badge */
.grecaptcha-badge {
    bottom: 54px !important;
    background: white;
    box-shadow: none !important;
}

.dropdown-massactions {
    min-width: 80px;
}

.select-all-files {
    position: relative;
    bottom: 1px;
    margin-right: 7px !important;
}

.select-file {
    position: relative;
    bottom: 1px;
    margin-right: 2px !important;
}

.select-folder {
    position: relative;
    bottom: 1px;
    margin-right: 5px !important;
}

label.control-label > span {
    font-size: 80%;
    font-weight: 400;
    font-style: italic;
    color: #dd4b39;
}

label.control-label > span.field-required:before {
    content: "required";
    color: #dd4b39;
}

label.control-label > span.field-optional:before {
    content: "optional";
    color: #bbbbbb;
}

.pagination > li > a, .pagination > li > span {
    padding: 3px 10px !important;
}

.logo-mini > img {
    height: 42px;
    width: auto;
}

.search01 {
    width: 30%;
}

.number-info-box-content {
    padding: 15px 10px 0;
}

