/*Design for Terminal*/
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

#terminal-body {
    background: rgb(26, 26, 26);
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#terminal {
    font-family: 'Source Code Pro', monospace;
    color: rgb(223, 223, 223);
    background: rgb(26, 26, 26);
    font-size: 12px;
    line-height: 14px;
    padding: 10px 10px 0;
    box-sizing: border-box;
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px 5px 0 0;
}

#terminal > .cmd {
    padding: 1px 0;
    word-wrap: break-word;
}

#terminal_input {
    width: 100%;
    background: rgb(26, 26, 26);
    border-radius: 0 0 5px 5px;
    padding: 0 0 0 10px !important;
}

.terminal_input--input, .terminal_input--prompt {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 0;
    border: 0 !important;
    background: transparent !important;
    color: rgb(223, 223, 223);
    font-size: 12px;
    padding: 1px 0 4px !important;
}

.terminal_input--input {
    margin-left: 6px;
    line-height: 1;
    outline: none !important;
}

.terminal-notify {
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding: 3.5px 7px;
    border-radius: 3px;
    background: #fff;
    color: #000;
    opacity: .5;
    font-size: 16px;
    cursor: pointer;
    z-index: 10;
}

.terminal-notify:hover {
    opacity: .9;
}

.ansi-black-fg {
    color: rgb(0, 0, 0);
}

.ansi-red-fg {
    color: rgb(166, 0, 44);
}

.ansi-green-fg {
    color: rgb(55, 106, 27);
}

.ansi-yellow-fg {
    color: rgb(241, 133, 24);
}

.ansi-blue-fg {
    color: rgb(17, 56, 163);
}

.ansi-magenta-fg {
    color: rgb(67, 0, 117);
}

.ansi-cyan-fg {
    color: rgb(18, 95, 105);
}

.ansi-white-fg {
    color: rgb(255, 255, 255);
}

.ansi-bright-black-fg {
    color: rgb(51, 51, 51);
}

.ansi-bright-red-fg {
    color: rgb(223, 45, 39);
}

.ansi-bright-green-fg {
    color: rgb(105, 175, 45);
}

.ansi-bright-yellow-fg {
    color: rgb(254, 232, 57);
}

.ansi-bright-blue-fg {
    color: rgb(68, 145, 240);
}

.ansi-bright-magenta-fg {
    color: rgb(151, 50, 174);
}

.ansi-bright-cyan-fg {
    color: rgb(37, 173, 98);
}

.ansi-bright-white-fg {
    color: rgb(208, 208, 208);
}

.ansi-black-bg {
    background: rgb(0, 0, 0);
}

.ansi-red-bg {
    background: rgb(166, 0, 44);
}

.ansi-green-bg {
    background: rgb(55, 106, 27);
}

.ansi-yellow-bg {
    background: rgb(241, 133, 24);
}

.ansi-blue-bg {
    background: rgb(17, 56, 163);
}

.ansi-magenta-bg {
    background: rgb(67, 0, 117);
}

.ansi-cyan-bg {
    background: rgb(18, 95, 105);
}

.ansi-white-bg {
    background: rgb(255, 255, 255);
}

.ansi-bright-black-bg {
    background: rgb(51, 51, 51);
}

.ansi-bright-red-bg {
    background: rgb(223, 45, 39);
}

.ansi-bright-green-bg {
    background: rgb(105, 175, 45);
}

.ansi-bright-yellow-bg {
    background: rgb(254, 232, 57);
}

.ansi-bright-blue-bg {
    background: rgb(68, 145, 240);
}

.ansi-bright-magenta-bg {
    background: rgb(151, 50, 174);
}

.ansi-bright-cyan-bg {
    background: rgb(37, 173, 98);
}

.ansi-bright-white-bg {
    background: rgb(208, 208, 208);
}
